{% extends 'home.html' %}
{% load static %}
{% block title %}Claim ITC{% endblock %}
{% block content %}
<div class="container" style="border: 2px solid #1c87c9;">
  	<h3 style="background-color: #1c87c9; color: white;">Your personal information</h3>
  	<div class="form-group">
      <strong style="color: darkred;">Name:</strong>{{ request.user.first_name}} {{request.user.last_name }}<br>
      <strong style="color: darkred;">Email:</strong>{{ request.user.email }}<br>
      <strong style="color: darkred;">GSTIN:</strong>{{ request.user.gstin }}<br>
      {% for t in tax %}
		{% if t.user == request.user %}
			<strong style="color: darkred;">Input Tax:</strong>&#8377;{{ t.input_tax }}<br>
			<strong style="color: darkred;">Output Tax:</strong>&#8377;{{ t.output_tax }}
		{% endif %}
      {% endfor %}
    </div>
    <br>
    <h3 style="background-color: #1c87c9; color: white;">Your claimable ITC from {{prev}} to {{due}}</h3>
    <div class="form-group">
    	{% if return2 is not None %}
    	<strong style="color: darkred;">Input Tax Credit:</strong>&#8377;{{ return2.input_tax }}<br>
    	{% else %}
    	<strong style="color: darkred;">Input Tax Credit:</strong>{{ Nill }}<br>
    	{% endif %}
    </div><br>
    <h3 style="background-color: #1c87c9; color: white;">Claim Your ITC</h3>
    <div class="form-group">
    	{% if return2 is not None %}
    	<a href="{% url 'itc:claim' %}" class="btn" style="background: orange; color: white; width: 100px;">Claim</a>
    	{% endif %}
    </div>
</div>	
{% endblock %}