{% extends 'gateway.html' %}
{% load static %}
{% block title %}Card Payment{% endblock %}
{% block content %}
<br><br>
<div class="form">
  <h3>Card Payment</h3>
  <br>
<form method="post">
  {% csrf_token %}
  <br>
  {% for field in cardform %}
    <div class="form_div">
      <label class="lbl"><strong>{{ field.label_tag }}</strong></label><br>
      {{ field }}<br>
    </div>
  {% endfor %}
  <br>
  <button type="submit" class="btn">Procced to pay</button><br><br>
</form>
</div>
{% endblock %}